/* Basic styling  */
.container > li {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
  box-sizing: border-box;
  background-color: #96ceb4;
  list-style-type: none;
  height: auto;
}

html,
body {
  background-color: #ffeead;
  margin: 10px;
}

.container {
  padding: 0;
}
.search-input {
  border: 0;
  width: 100%;
  font-size: inherit;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #ffeead;
  color: #ffeead;
}

::placeholder {
  color: #ffeead;
  height: auto;
}

.search-input:focus {
  outline: none;
}

.container > li {
  background-color: #96ceb4;
}

/* Flexbox */
.container {
  border: 5px solid #ffcc5c;
  display: flex;
}

.search {
  flex: 1;
}

.search > input {
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    flex-wrap: wrap;
  }
  .container > li {
    /* flex: 1 1 50%; */
    flex-basis: 50%;
  }
  .search > input {
    text-align: center;
  }
}

@media (max-width: 300px) {
  .container {
    flex-direction: column;
  }
  .search {
    order: 1;
  }
}
